$primary-color: #a8c10a;
$primary-color-alt: #1c2227;
$primary-text-color: #333333;
$secondary-text-color: #666666;

$breakpoints: (
  'mobile': (
    min-width: 481px,
  ),
  'tablet': (
    min-width: 737px,
  ),
  'desktop': (
    min-width: 1025px,
  ),
);
@mixin breakpoint($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
